<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leave Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="mario.png"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/jas.js">

    </script>
  </head>
  <body>
    <br>
    <div class="w3-container w3-top"  id="login">
            <div class="w3-container w3-card-4 "style="top:50%; width:350px; " >
              <br>
              <form class="w3-container w3-purple " id="form" action="/login" method="post">
<br>
                        <input type="text" name="username" class="w3-input w3-animate-input" placeholder="Enter Username">
                        <br>
                        <input type="password" name="password" class="w3-input w3-animate-input" placeholder="Enter Password">
<br>
            <div class="w3-bar">
              <button type="button" name="button" class="w3-round w3-bar-item " id="signupbtn">Sign Up</button>
                        <input type="submit" name="" value="Login" class="w3-round w3-bar-item w3-right">
            </div>

<br><br>
              </form>
<br>
            </div>
    </div>
    <div class="w3-container w3-top" id="signup" >
            <div class="w3-container w3-card-4 "style="top:50%; width:350px; " >
              <br>
              <form class="w3-container w3-purple " id="form" action="/signup" method="post">
    <br>
                        <input type="text" name="firstname" class="w3-input w3-animate-input" placeholder="Enter firstname">
                        <br>
                        <input type="text" name="lastname" class="w3-input w3-animate-input" placeholder="Enter lastname">
                        <br>
                        <input type="text" name="username" class="w3-input w3-animate-input" placeholder="Enter username"><br>
                        <input type="password" name="password" placeholder="Enter Password" class="w3-input w3-animate-input">
                        <input class="w3-radio" type="radio" name="type" value="student" checked>
                        <label>Student</label>
                        <input class="w3-radio" type="radio" name="type" value="teacher">
                        <label>Teacher</label>

    <br>
            <div class="w3-bar">
              <button type="button" name="button" class="w3-round w3-bar-item" id="loginbtn">Log In</button>
                        <input type="submit" name="" value="SignUp" class="w3-round w3-bar-item w3-right">
            </div>

    <br><br>
              </form>
    <br>
            </div>
    </div>

<div id="background" class="w3-text-white" >
<p></p>
</div>
  </body>
</html>
